<div class="section light-bg" id="gallery">
    <div class="container">
        <div class="section-title">
            <small>GALLERY</small>
            <h3>App Screenshots</h3>
        </div>
        <div class="img-gallery owl-carousel owl-theme">
            <img src="assets/images/screen1.jpg" alt="image">
            <img src="assets/images/screen2.jpg" alt="image">
            <img src="assets/images/screen3.jpg" alt="image">
            <img src="assets/images/screen1.jpg" alt="image">
        </div>
    </div>
</div>