<header class="bg-gradient" id="home">
    <div class="container mt-5">
        <h1>Mobile App Landing Page Template</h1>
        <p class="tagline">The one and only solution for any kind of mobila app landing needs. Just change the screenshots and texts and you are good to go. </p>
    </div>
    <div class="img-holder mt-3"><img src="assets/images/iphonex.png" alt="phone" class="img-fluid"></div>
</header>

<div class="client-logos my-5">
    <div class="container text-center">
        <img src="assets/images/client-logos.png" alt="client logos" class="img-fluid">
    </div>
</div>